@import '../variables';

.dropdown {
  position: relative;
  display: inline-block;;
  vertical-align: top;

  &.active {
    .icon {
      transform: rotate(-180deg);
    }

    .container {
      visibility: visible;
      opacity: 1;
    }
  }
}

.placeholder {
  display: block;
  padding: 1.5rem;
  /*min-width: 11rem;*/
  /*font-size: 1.5rem;*/
  line-height: 1;
  text-align: left;
  /*background-color: $brand-white;*/
  /*border: 1px solid $gray;*/
  /*border-radius: 0.4rem;*/
  cursor: pointer;

  &:focus,
  &:hover,
  &.active {
    border-color: $brand-black;
  }
}

.icon {
  margin-top: .2rem;
  margin-left: .4rem;
  float: right;
  width: 1rem;
  height: 1rem;
  fill: $brand-black;
  display: inline-block;
  transition: transform .3s;
}

.container {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 10;
  display: block;
  min-width: 100%;
  /*padding: 1.5rem;*/
  text-align: left;
  background-color: $brand-white;
  box-shadow: 0.5rem 1rem 2rem 0px #DCDBDB;
  border: 1px solid $gray;
  border-radius: 0.4rem;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
}
