@import '../variables';

.navbar {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.left {
  justify-content: flex-start;
  flex-grow: 1;
  text-align: start;
}

.right {
  justify-content: flex-end;
  flex-grow: 1;
  text-align: end;
}

.item {
  display: inline-block;
  font-weight: 600;
  color: #9E9E9E;
  padding: 2rem 1.5rem;
  line-height: 1;
  text-transform: uppercase;

  &:first-child {
    padding-left: 0;
  }
}

.link {
  cursor: pointer;
  border: 0;
  transition: all .3s;
  text-decoration: none;
  composes: item;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $brand-primary;
    outline: none;
    text-decoration: none;
  }

  &.active {
    &:hover {
      color: $brand-primary-darker;
    }
  }
}

.static {
  margin: 0;
  composes: item;
}

.brand {
  color: $brand-black;
  margin-right: 1rem;
  text-transform: none;
  composes: link;
}

.dropdownPlaceholder {
  composes: link;
}

.dropdownIcon {
  margin-top: .1rem;
  margin-left: .4rem;
  float: right;
  width: 1.2rem;
  height: 1rem;
  fill: $gray-lighter;
  display: inline-block;
  transition: transform .3s;
}

.dropdownElement {
  display: block;
  padding: 1rem 1.5rem;
}

.dropdownDivider {
  margin: 0 -1.5rem;
  border-color: $gray;
  border-style: solid;
}
