$brand-primary: #3F51B5;
$brand-primary-darker: #3949AB;

$brand-success-ligther: #B9F6CA;
$brand-success: #00E676;
$brand-success-dark: #1B5E20;

$brand-danger: #F44336;

$gray-lighter: #F5F5F5;
$gray: #EEEEEE;
$gray-darker: #9E9E9E;
